---
- include: setup-RedHat.yml
  when: ansible_os_family == 'RedHat'

- include: setup-Debian.yml
  when: ansible_os_family == 'Debian'

- include: config.yml
- include: ssl.yml
- include: plugins.yml
- include: geoip.yml

- name: Copy Logstash configuration.
  template:
    src: logstash.yml.j2
    dest: "/etc/logstash/logstash.yml"
    owner: root
    group: root
    mode: 0644
  notify: restart logstash

- name: Ensure Logstash is started and enabled on boot.
  service: "name=logstash state=started enabled={{ logstash_enabled_on_boot }}"
